.well.coffee-color
  %h1 My Rankings

  %div{'ng-controller' => 'MyRankingsCtlr'}
    .row-fluid{'ng-repeat' => 'group in groups'}
      .span4{'ng-repeat' => 'ranking in group'}
        .my-rankings{id: "ranking_{{ranking._id}}"}
        %p.center {{ranking.coffee_type.name}} by {{ranking.coffee_type.roaster_name}}
    {{render_graphs()}}
  %br

  = link_to 'New Ranking', new_ranking_path
