.well.coffee-color
  %h1 My Rankings

  %div{'ng-controller' => 'MyRankingsCtlr'}
    .row-fluid{'ng-repeat' => 'group in groups'}
      .span4{'ng-repeat' => 'ranking in group'}
        .my-rankings{id: "ranking_{{ranking.id}}"}
        %p.center
          = link_to '{{ranking.coffee_name}} by {{ranking.roaster_name}}', '/rankings/{{ranking.id}}'
    {{render_graphs()}}
  %br

  = link_to 'New Ranking', new_ranking_path
