%p#notice= notice

%div{'ng-controller' => 'RoastersCtlr'}
  %h1 {{roaster.name}}
  .row-fluid{'ng-repeat' => 'group in coffee_groups'}
    .span4{'ng-repeat' => 'coffee in group'}
      .row-fluid
        {{coffee.description.substring(0,300) + "..."}}
      .row-fluid
        %a.btn{"ng-click" => "show_coffee(coffee)", "data-toggle" => "modal", :href => "#coffee_{{coffee.id}}", :role => "button"} {{coffee.name}}
  
  = render 'shared/coffee_modal'
