%p#notice= notice

%div{'ng-controller' => 'RoastersCtlr'}
  %h1 {{roaster.name}}
  .row-fluid{'ng-repeat' => 'group in coffee_groups'}
    .span4{'ng-repeat' => 'coffee in group'}
      .row-fluid
        {{coffee.description}}
      .row-fluid
        %a.btn{"ng-click" => "show_coffee(coffee)", "data-toggle" => "modal", :href => "#coffee_{{coffee.id}}", :role => "button"} {{coffee.name}}

  .modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", "id" => "coffee_{{coffee.id}}"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3#coffee_typeLabel {{current_coffee.name}}
    .modal-body
      .row-fluid
        .span12
          .span6
            %h4 Location of Origin
            .logowrapper
              %img{'ng-src' => "{{current_coffee.maps_url}}"}
          .span6
            %h4 Average Taste Profile
            #average_ranking
    .modal-footer
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
