// Place all the styles related to the rankings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#points {
  background: #332822;
  height: 600px;
}
#ranking {
  width: 340px;
  margin: 20px auto;
}
img#coffee {
  position: absolute;
  margin-left: 160px;
  margin-top: 160px;
  width: 20px;
}
#greeting {
  text-align: center;
  color: #F2DFBC;
  font-size: 60px;
  font-weight: 200;
  top: 100px;
}
.text {
  width: 100%;
}
.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}
.score {
  display: inline;
}

.my-rankings {
  margin: 0 auto;
  width: 230px;
  height: 230px;
  margin-bottom: 20px;
}
.limit-height {
  height: 350px;
  overflow: hidden;
}
